antimeridian
azure-storage-blob
boto3
dask[complete]
dask-gateway
fiona
gdal
geocube
geopandas
odc-stac
odc-algo
pystac-client
planetary-computer
rioxarray
rio-stac>=0.8.0
stackstac
retry
tqdm
xarray
